{{ define "content" }}
  <div data-flex="columns: 12">
    <div data-flex-item="width: 6, width-t: 6, width-l: 4, width-d: 3, width-w: 4">1</div>
    <div data-flex-item="width: 6, width-t: 6, width-l: 4, width-d: 3, width-w: 8">2</div>
    <div data-flex-item="width: 4, width-t: 6, width-l: 4, width-d: 3, width-w: 2">3</div>
    <div data-flex-item="width: 4, width-t: 6, width-l: 4, width-d: 3, width-w: 2">4</div>
    <div data-flex-item="width: 4, width-t: 6, width-l: 4, width-d: 3, width-w: 2">5</div>
    <div data-flex-item="width: 12, width-t: 6, width-l: 4, width-d: 3, width-w: 2">6</div>
    <div data-flex-item="width: 12, width-t: 6, width-l: 4, width-d: 3, width-w: 2">7</div>
    <div data-flex-item="width: 12, width-t: 6, width-l: 4, width-d: 3, width-w: 2">8</div>
    <div data-flex-item="width: 12, width-t: 6, width-l: 4, width-d: 3, width-w: 2">9</div>
    <div data-flex-item="width: 12, width-t: 6, width-l: 4, width-d: 3, width-w: 2">10</div>
    <div data-flex-item="width: 12, width-t: 6, width-l: 4, width-d: 3, width-w: 2">11</div>
    <div data-flex-item="width: 12, width-t: 6, width-l: 4, width-d: 3, width-w: 2">12</div>
  </div>
{{ end }}